/* = Colors = */
/* Primary */
/* Neutral */
/* Font */
/* Sizings */
/* Media query */
body {
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sr_only {
  position: absolute;
  height: 0;
  font-size: inherit;
  color: transparent;
}

.container {
  margin-inline: 1.5rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.dashboard {
  display: grid;
  gap: 1.5rem;
  margin-block: 5rem;
}
@media screen and (min-width: 48rem) {
  .dashboard {
    grid-template-columns: repeat(4, 16rem);
    grid-template-rows: repeat(2, 15rem);
    gap: 2rem;
  }
}

/* Header */
.dashboard_header {
  background-color: hsl(235, 46%, 20%);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
@media screen and (min-width: 48rem) {
  .dashboard_header {
    grid-row: 1/-1;
  }
}
.dashboard_header .header_avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: hsl(246, 80%, 60%);
  padding: 2rem;
  border-radius: inherit;
}
@media screen and (min-width: 48rem) {
  .dashboard_header .header_avatar {
    flex-direction: column;
    align-items: start;
  }
}
.dashboard_header .header_avatar .avatar_img {
  max-width: 4.5rem;
  border: 0.1875rem solid white;
  border-radius: 100vw;
}
@media screen and (min-width: 48rem) {
  .dashboard_header .header_avatar .avatar_img {
    max-width: 5.25rem;
  }
}
.dashboard_header .header_avatar .avatar_info {
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .dashboard_header .header_avatar .avatar_info {
    padding-block: 1.5rem 3rem;
  }
}
.dashboard_header .header_avatar .avatar_info .avatar_name {
  color: white;
  font-size: 1.40625rem;
}
@media screen and (min-width: 48rem) {
  .dashboard_header .header_avatar .avatar_info .avatar_name {
    font-size: 2.53125rem;
    line-height: 1.125;
  }
}
.dashboard_header .header_report_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
  padding-inline: 2rem;
  color: hsl(235, 45%, 61%);
}
@media screen and (min-width: 48rem) {
  .dashboard_header .header_report_time {
    flex-direction: column;
    align-items: start;
    gap: 1.125rem;
    margin-block: auto;
  }
}
.dashboard_header .header_report_time .time_daily,
.dashboard_header .header_report_time .time_weekly,
.dashboard_header .header_report_time .time_monthly {
  font-weight: 300;
  color: hsl(235, 45%, 61%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .dashboard_header .header_report_time .time_daily,
  .dashboard_header .header_report_time .time_weekly,
  .dashboard_header .header_report_time .time_monthly {
    padding: 0;
  }
}
.dashboard_header .header_report_time .time_weekly {
  color: white;
}

/* Activity component */
.dashboard_block {
  background-color: hsl(15, 100%, 70%);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.25s ease-in-out;
}
.dashboard_block .block_img {
  max-width: 5rem;
  position: absolute;
  transform: translateY(-0.5rem);
  right: 1rem;
}
.dashboard_block .dashboard_activity {
  background-color: hsl(235, 46%, 20%);
  display: flex;
  flex-wrap: wrap;
  border-radius: inherit;
  padding: 1.5rem;
  margin-top: 2.5rem;
  z-index: 1;
  transition: filter 0.5s ease-in-out;
  transition: background-color 0.125s linear;
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .dashboard_block .dashboard_activity {
    margin-block-start: auto;
    padding: 1.75rem;
    gap: 1rem;
  }
}
.dashboard_block .dashboard_activity .activity_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.dashboard_block .dashboard_activity .activity_header .header_dots {
  max-width: 1.5rem;
  padding-block: 0.5rem;
  margin-left: auto;
  transition: filter 0.25s ease-in-out;
}
.dashboard_block .dashboard_activity .activity_time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .dashboard_block .dashboard_activity .activity_time {
    flex-direction: column;
    align-items: flex-start;
  }
}
.dashboard_block .dashboard_activity .activity_time .time_current {
  font-size: 1.96875rem;
  font-weight: 300;
}
@media screen and (min-width: 48rem) {
  .dashboard_block .dashboard_activity .activity_time .time_current {
    font-size: 3.375rem;
  }
}
.dashboard_block .dashboard_activity .activity_time .time_last {
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Assigning bg colors */
#work {
  background-color: hsl(15, 100%, 70%);
}

#play {
  background-color: hsl(195, 74%, 62%);
}

#study {
  background-color: hsl(348, 100%, 68%);
}

#exercise {
  background-color: hsl(145, 58%, 55%);
}

#social {
  background-color: hsl(264, 64%, 52%);
}

#self-care {
  background-color: hsl(43, 84%, 65%);
}

#mouseOver {
  background-color: hsl(236, 40%, 34%);
}/*# sourceMappingURL=main.css.map */