@use "../variables" as v;

.dashboard {
    display: grid;
    row-gap: 1.5rem;

    /* Header */
    .dashboard_header {
        background-color: v.$component-bg;
        display: flex;
        flex-direction: column;
        border-radius: v.$border-radius;

        .header_avatar {
            display: flex;
            align-items: center;
            gap: 1rem;
            background-color: v.$avatar-bg;
            padding: 2rem;
            border-radius: inherit;

            .avatar_img {
                max-width: 4.5rem;
                border: .1875rem solid white;
                border-radius: 100vw;
            }

            .avatar_info {
                color: v.$last-week-text;
                font-weight: v.$fw-light;
                font-size: calc(v.$fs / 1.125);

                .avatar_name {
                    color: white;
                    font-size: calc(v.$fs * 1.25);
                }
            }
        }

        .header_report_time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 1.5rem;
            padding-inline: 2rem;

            .time_daily,
            .time_monthly {
                font-weight: v.$fw-light;
                color: v.$date-range-text;
            }

            .time_weekly {
                color: white;
            }
        }
    }

    /* Activity component */
    .dashboard_block {
        background-color: v.$work-bg;
        border-radius: v.$border-radius;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;

        .block_img {
            max-width: 5rem;
            position: absolute;
            transform: translateY(-.5rem);
            right: 1rem;            
        }

        .dashboard_activity {
            background-color: v.$component-bg;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: inherit;
            padding: 2rem 1.5rem;
            margin-top: 2.5rem;
            z-index: 1;

            .activity_content {
                display: flex;
                flex-direction: column;

                .content_type {

                }

                .content_time {
                    font-size: calc(v.$fs * 1.75);
                    font-weight: v.$fw-light;
                }
            }

            .activity_utility {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                .utility_dots {
                    max-width: 1.5rem;
                    margin-left: auto;
                }

                .utility_last_time {
                    color: v.$last-week-text;
                    font-weight: v.$fw-light;
                    font-size: calc(v.$fs / 1.125);
                }
            }
        }
    }
}

/* Assigning bg colors */
#work {
    background-color: v.$work-bg;
}

#play {
    background-color: v.$play-bg;
}

#study {
    background-color: v.$study-bg;
}

#exercise {
    background-color: v.$exercise-bg;
}

#social {
    background-color: v.$social-bg;
}

#self-care {
    background-color: v.$self-care-bg;
}