@use "../variables" as v;

/* Activity component */
.dashboard_block {
    background-color: v.$work-bg;
    border-radius: v.$border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .25s ease-in-out;

    .block_img {
        max-width: 5rem;
        position: absolute;
        transform: translateY(-.5rem);
        right: 1rem;            
    }

    .dashboard_activity {
        background-color: v.$component-bg;
        display: flex;
        flex-wrap: wrap;
        border-radius: inherit;
        padding: 1.5rem;
        margin-top: 2.5rem;
        z-index: 1;
        transition: filter .5s ease-in-out;
        transition: background-color .125s linear;
        cursor: pointer;

        @media screen and (min-width: v.$min-width) {
            margin-block-start: auto;
            padding: 1.75rem;
            gap: 1rem;
        }

        .activity_header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .header_dots {
                max-width: 1.5rem;
                padding-block: .5rem;
                margin-left: auto;
                transition: filter .25s ease-in-out;
            }
        }

        .activity_time {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            @media screen and (min-width: v.$min-width) {
                flex-direction: column;
                align-items: flex-start;
            }

            .time_current {
                font-size: calc(v.$fs * 1.75);
                font-weight: v.$fw-light;

                @media screen and (min-width: v.$min-width) {
                    font-size: calc(v.$fs * 3);
                }
            }

            .time_last {
                color: v.$last-week-text;
                font-weight: v.$fw-light;
                font-size: calc(v.$fs / 1.25);
            }
        }
    }
}

    /* Assigning bg colors */
#work {
    background-color: v.$work-bg;
}

#play {
    background-color: v.$play-bg;
}

#study {
    background-color: v.$study-bg;
}

#exercise {
    background-color: v.$exercise-bg;
}

#social {
    background-color: v.$social-bg;
}

#self-care {
    background-color: v.$self-care-bg;
}

#mouseOver {
    background-color: v.$activity-hover-bg;
}