@use "../variables" as v;

/* Activity component */
.dashboard_block {
    background-color: v.$work-bg;
    border-radius: v.$border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .block_img {
        max-width: 5rem;
        position: absolute;
        transform: translateY(-.5rem);
        right: 1rem;            
    }

    .dashboard_activity {
        background-color: v.$component-bg;
        display: flex;
        flex-wrap: wrap;
        border-radius: inherit;
        padding: 1.5rem;
        margin-top: 2.5rem;
        z-index: 1;

        .activity_header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .header_dots {
                max-width: 1.5rem;
                margin-left: auto;
            }
        }

        .activity_time {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .time_current {
                font-size: calc(v.$fs * 1.75);
                font-weight: v.$fw-light;
            }

            .time_last {
                color: v.$last-week-text;
                font-weight: v.$fw-light;
                font-size: calc(v.$fs / 1.25);
            }
        }
    }
}

    /* Assigning bg colors */
#work {
    background-color: v.$work-bg;
}

#play {
    background-color: v.$play-bg;
}

#study {
    background-color: v.$study-bg;
}

#exercise {
    background-color: v.$exercise-bg;
}

#social {
    background-color: v.$social-bg;
}

#self-care {
    background-color: v.$self-care-bg;
}